* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1;
  font-size: 16px;
}

body {
  margin: 2rem auto;
  padding: 0 2rem;
  line-height: 1;
  max-width: 980px;
}

header {
  margin-bottom: 2rem;
}

button {
  padding: .5rem 1rem;
  cursor: pointer;
}

input {
  padding: .5rem;
}

input[type="number"] {
  max-width: 60px;
}

input[type="color"] {
  padding: 0 .15rem;
  height: 2rem;
  vertical-align: middle;
}

.row {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.row input, .row button {
  margin-right: .25rem;
}

/* ===== HEADER ===== */
#build-grid-form {
  display: inline;
}
#num-of-squares-across__label {
  display: block;
  margin-bottom: .5rem;
}
#header-controls {
  display: block;
  width: 100%;
  margin-top: .5rem;
}

header button, header input {
  margin-bottom: .5rem;
}

/* ===== MAIN ===== */
#main {
  display: block;
  margin: 0 auto;
}

/* ===== ETCH-A-SKETCH ===== */
#etcha-a-sketch__wrapper {
  position: relative;
}

#etch-a-sketch-body {
  display: block;
  position: relative;
  background: linear-gradient( #ec0303, #f32929, #ca0202);
  padding: 1.75% 9% 18%;
  border-top: 1.6vw solid#fa5555;
  border-left: 1.6vw solid#c70606;
  border-right: 1.6vw solid#c70606;
  border-bottom: 1.6vw solid#920303;
  border-radius: .5rem;
  width: 100%;
  height: 70vw;
  max-height: 680px;
  /* box-shadow: -10px 24px 16px 10px rgba(0, 0, 0, .075), 10px 24px 16px 10px rgba(0, 0, 0, .075); */
}

#logo {
  display: block;
  max-width: 80%;
  margin: 0 auto .5rem;
}

#square-container {
  display: grid;
  background: linear-gradient(#808080, #757575);
  grid-gap: 0;
  border-top: .75vw solid#a50505;
  border-left: .75vw solid#c70606;
  border-right: .75vw solid#c70606;
  border-bottom: .75vw solid#fa5555;
  border-radius: 2%;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

.grid-active .square {
  border-right: 1px solid #424242;
  border-bottom: 1px solid #424242;
}

.knob {
  display: inline-block;
  background: linear-gradient( #ffffff, #d6d6d6);
  padding: 3.5%;
  border: 2px dotted #ec0303;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 4px 8px 2px #a50505;
}
.knob::before {
  content: "";
  display: block;
  position: absolute;
  background: transparent;
  padding: 40%;
  border: 2px solid #b4b4b4;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 580px) {
  .knob {
    padding: 4%;
  }
}
@media screen and (min-width: 768px) {
  .knob {
    padding: 4.5%;
  }
}

.knob-1 {
  left: .75rem;
  bottom: .85rem;
}

.knob-2 {
  right: .75rem;
  bottom: .85rem;
}

/* ====== ANIMATIONS ====== */
.shake {
  animation: .25s linear .1s 5 forwards shake;
}
@keyframes shake {
  0% {
    transform: translateX(0rem);
  }
  25% {
    transform: translateX(-2rem);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0rem);
  }
}