* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1;
  font-size: 16px;
}

body {
  margin: 2rem auto;
  line-height: 1;
  max-width: 980px;
}

#main {
  display: block;
  margin: 0 auto;
}

#etch-a-sketch-body {
  display: block;
  position: relative;
  background: #ec0303;
  padding: 5.5rem;
  border-radius: .5rem;
  width: 100%;
}

#square-container {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  border-radius: 1rem;
  overflow: hidden;
}

.knob-1, .knob-2 {
  display: inline-block;
  background: #ffffff;
  width: 5rem;
  height: 5rem;
  border: 2px dotted #ec0303;
  border-radius: 50%;
  position: absolute;
}

.knob-1 {
  left: .75rem;
  bottom: .85rem;
}

.knob-2 {
  right: .75rem;
  bottom: .85rem;
}

.square {
  background: #808080;
  padding: 1.5rem 1rem;
  text-align: center;
  line-height: 0;
}

.square:hover {
  background: #424242;
}